.common_arr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #eee;
  top: 20px;
}
.left_arr {
  left: -18px;
}
.right_arr {
  right: -18px;
}
.arr_drop {
  top: 35px;
  right: -10px;
}
.li_usr {
  padding: 10px 16px 0 16px;
}
.custom_drp .user_action {
  min-width: 192px;
  top: 20px !important;
  right: -20px !important;
  box-shadow: 0px 2px 14px rgb(207 207 207 / 25%);
}
.li_logout {
  padding: 10px 10px 10px 10px;
}
.logout_btn {
  padding: 13px;
}
.nav_logo_a {
  padding: 18px 0 17px 0;
  width: 173px;
}

.bg_circle {
  background: #f6f7f8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.bg_circle:hover {
  background: #fcebeb;
}

.homeDashboard img {
  width: 22px;
}

.notify_alert {
  width: 5px;
  height: 5px;
  top: 6px;
  right: 8px;
}
.usr_titleVal {
  padding-left: 5px;
}
.humberger div {
  border: 1px solid #000;
  margin: 2px 5px 2px 0;
  width: 100%;
  color: #000;
  transition: all 0.19s ease-in-out;
}
.res_menu_section a > .span_arrow,
.plus_span,
.rightarr_span {
  width: 30px;
  height: 20px;
}
.res_menu_section a {
  padding: 0.5rem 0;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
.humberger {
  width: 22px;
}
.humberger.open div {
  margin: 0;
  position: relative;
}
.humberger.open div:nth-child(2) {
  opacity: 0;
  margin: 0;
}

.humberger.open div:nth-child(1) {
  transform: rotate(45deg);
  bottom: 0;
}

.humberger.open div:nth-child(3) {
  transform: rotate(-45deg);
  top: -4px;
}
.res_menu_section {
  background: #fff;
  height: calc(100vh - 40px);
  overflow: auto;
}
.lastlevel_ul li {
  list-style: disc;
  margin-left: 40px;
  color: #d9dce0;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .top_container_wrap {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0 15px;
    z-index: 2;
  }
  .header_res_nav {
    background: white;
    padding: 15px 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top_container_wrap {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 15px;
    z-index: 2;
  }
  .header_res_nav {
    background: #fff;
    padding: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top_container_wrap {
    position: relative;
    padding: 1.25rem 0;
  }
  .header_res_nav {
    background: transparent;
  }
  .bg_circle {
    width: 35px;
    height: 35px;
  }
  .notify_alert {
    top: 8px;
    right: 11px;
  }
}
