<!--HTML for Broker Entry-->
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-12">
        <form [formGroup]="connectionSelection">
          <div class="row">
            <div class="col-md-3">
              <div
                class="input-group"
                [class.is-invalid]="
                  connectionSelection.controls['billType'].invalid &&
                  connectionSelection.controls['billType'].touched
                "
              >
                <span class="input-group-text leftform_lbl font500 font12"
                  >billType</span
                >
                <app-f1
                  id="billType"
                  [formControlName]="'billType'"
                  name="Bill Type"
                  class="form-control post_input_field border-start-0 d-flex"
                  titleValue="{{ billTypeF1List?.mainheader }}"
                  [tableData]="billTypeF1List?.dataSet"
                  [colHeader]="billTypeColHeadings"
                  [inputBBC]="billTypeF1abc"
                  (updatedSelectedValue)="displayBillType($event)"
                  [dynaPopId]="'OVERHEADS'"
                  [queryConditon]="''"
                  [errorMessage]="'Invalid Bill Type'"
                  [disabledVal]="visibleConnectionSelection"
                >
                </app-f1>
              </div>
              <div
                *ngIf="
                  connectionSelection.controls['billType'].invalid &&
                  connectionSelection.controls['billType'].touched
                "
              >
                <div
                  class="errorField common_color_txt font12 font500"
                  *ngIf="connectionSelection.controls['billType'].errors && connectionSelection.controls['billType'].errors?.['required']"
                >
                  * Bill Type is Required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  formControlName="supplementarybill"
                  class="form-check-input"
                  type="checkbox"
                  (change)="getsupplimetryflag($event)"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Supplimentry Bill
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="input-group"
                [class.is-invalid]="
                  connectionSelection.controls['connectionNo'].invalid &&
                  connectionSelection.controls['connectionNo'].touched
                "
              >
                <span class="input-group-text leftform_lbl font500 font12"
                  >connection No</span
                >
                <app-f1
                  id="connectionNo"
                  [formControlName]="'connectionNo'"
                  name="connection No"
                  class="form-control post_input_field border-start-0 d-flex"
                  titleValue="{{ billTypeF1List?.mainheader }}"
                  [tableData]="ConnTableDataList?.dataSet"
                  [colHeader]="ConnColumnHeader"
                  [inputBBC]="ConnnoF1abc"
                  (updatedSelectedValue)="displayConncode($event)"
                  [dynaPopId]="'CONSUMERNO'"
                  [queryConditon]="''"
                  [errorMessage]="'Invalid Connection No'"
                  [disabledVal]="visibleConnectionSelection"
                >
                </app-f1>
              </div>
              <div
                *ngIf="
                  connectionSelection.controls['connectionNo'].invalid &&
                  connectionSelection.controls['connectionNo'].touched
                "
              >
                <div
                  class="errorField common_color_txt font12 font500"
                  *ngIf="connectionSelection.controls['connectionNo'].errors && connectionSelection.controls['connectionNo'].errors?.['required']"
                >
                  * Connection No is Required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="input-group"
                [class.is-invalid]="
                  connectionSelection.controls['billperiod'].invalid &&
                  connectionSelection.controls['billperiod'].touched
                "
                appYearmonthformatdirective
              >
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Month</span
                >
                <input
                  type="text"
                  [matDatepicker]="pickerYearSelection"
                  class="form-control border-start-0 post_input_field"
                  formControlName="billperiod"
                  id="matDateField"
                  (dateChange)="
                    validateInvalidFormat(
                      $event,
                      'matDateField',
                      'Invalid Month'
                    )
                  "
                />
                <div
                  class="input-group-append bg-white border-1 post_input_field datepicker_field border-start-0"
                >
                  <span class="input-group-addon">
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerYearSelection"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #pickerYearSelection
                      startView="multi-year"
                      (monthSelected)="
                        chosenMonthHandler(
                          $event,
                          pickerYearSelection,
                          connectionSelection.get('billperiod')
                        )
                      "
                    ></mat-datepicker>
                  </span>
                </div>
              </div>
              <div
                *ngIf="
                  connectionSelection.controls['billperiod'].invalid &&
                  connectionSelection.controls['billperiod'].touched
                "
              >
                <div
                  class="errorField common_color_txt font12 font500"
                  *ngIf="connectionSelection.controls['billperiod'].errors && connectionSelection.controls['billperiod'].errors?.['required']"
                >
                  *Month is required
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="visibleformcontrol">
    <div class="col-md-12">
      <div class="br-10 form_common_bg group_panel p-3 position-relative pt-4">
        <p class="bg-white font600 group_title mb-0 position-absolute">
          Connection Details
        </p>
        <form [formGroup]="connectionform">
          <div class="row g-3">
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Consumer No</span
                >
                <input
                  type="text"
                  formControlName="consumerNo"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Bill Coy</span
                >
                <input
                  type="text"
                  formControlName="ohdhbillcoy"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Bill Coy Name</span
                >
                <input
                  type="text"
                  formControlName="billCoyName"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Pay Coy</span
                >
                <input
                  type="text"
                  formControlName="ohdhpaycoy"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >PayCoy Name</span
                >
                <input
                  type="text"
                  formControlName="payCoyName"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Location</span
                >
                <input
                  type="text"
                  formControlName="ohdhlocation"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Location Name</span
                >
                <input
                  type="text"
                  formControlName="locationName"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >load</span
                >
                <input
                  type="text"
                  formControlName="ohdhload"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Advance</span
                >
                <input
                  type="text"
                  formControlName="advance"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Deposit Amount</span
                >
                <input
                  type="text"
                  formControlName="ohdhdepositeamt"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Meter No</span
                >
                <input
                  type="text"
                  formControlName="meterno"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="visibleformcontrol">
    <div class="col-md-12">
      <div class="br-10 form_common_bg group_panel p-3 position-relative pt-4">
        <p class="bg-white font600 group_title mb-0 position-absolute">
          Bill Entry Details
        </p>
        <form [formGroup]="billEntryform">
          <div class="row g-3">
            <div class="col-md-3">
              <div
                class="input-group flex-nowrap"
                [class.is-invalid]="
                  (billEntryform.get('range')?.controls['fromdate']?.invalid &&
                    billEntryform.get('range')?.controls['fromdate']
                      ?.touched) ||
                  (billEntryform.get('range')?.controls['todate']?.invalid &&
                    billEntryform.get('range')?.controls['todate']?.touched)
                "
              >
                <span class="input-group-text leftform_lbl font500 text-dark1"
                  >Date Range</span
                >
                <div
                  class="bg-white datepicker_field post_input_field"
                  [class.is-invalid]="
                    (billEntryform.get('range')?.controls['fromdate']
                      ?.invalid &&
                      billEntryform.get('range')?.controls['fromdate']
                        ?.touched) ||
                    (billEntryform.get('range')?.controls['todate']?.invalid &&
                      billEntryform.get('range')?.controls['todate']?.touched)
                  "
                >
                  <span class="input-group-addon">
                    <div mat-form-field appearance="fill" class="matForm">
                      <mat-date-range-input
                        [formGroup]="this.billEntryform.controls['range']"
                        [rangePicker]="picker"
                      >
                        <input
                          matStartDate
                          formControlName="fromdate"
                          placeholder="From date"
                        />
                        <input
                          matEndDate
                          formControlName="todate"
                          placeholder="To date"
                          id="toDateField"
                        />
                      </mat-date-range-input>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </div>
                  </span>
                </div>
              </div>
              <div
                *ngIf="
                  billEntryform.controls['range'].invalid &&
                  billEntryform.controls['range'].touched
                "
              >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="
                    (billEntryform.get('range').controls['fromdate']?.invalid &&
                      billEntryform.get('range').controls['fromdate']
                        ?.touched) ||
                    (billEntryform.get('range').controls['todate']?.invalid &&
                      billEntryform.get('range').controls['todate']?.touched)
                  "
                >
                  Proper Date is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="input-group"
                [class.is-invalid]="
                  billEntryform.controls['bilentdateField'].invalid &&
                  billEntryform.controls['bilentdateField'].touched
                "
              >
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Bill Date</span
                >
                <input
                  class="form-control border-start-0 post_input_field font500 text-dark1 font12"
                  id="chqDataField"
                  formControlName="bilentdateField"
                  matInput
                  [matDatepicker]="pickerFrom"
                  (dateChange)="
                    validateInvalidFormat(
                      $event,
                      'chqDataField',
                      'Invalid Bill Date'
                    )
                  "
                  name
                />
                <div
                  class="datepicker_input_cutsom_icon input-group-append bg-white border-1 post_input_field datepicker_field border-start-0"
                >
                  <span class="input-group-addon">
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerFrom"
                      tabindex="-1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                  </span>
                </div>
                <div
                  *ngIf="
                    billEntryform.controls['bilentdateField'].invalid &&
                    billEntryform.controls['bilentdateField'].touched
                  "
                >
                  <div
                    class="errorField common_color_txt font12 font500"
                    *ngIf="billEntryform.controls['bilentdateField'].errors && billEntryform.controls['bilentdateField'].errors?.['required']"
                  >
                    *Bill Date is Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Bill No</span
                >
                <input
                  type="text"
                  formControlName="billno"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
              <div
                class="errorField common_color_txt font12 font500"
                *ngIf="billEntryform.controls['billno'].errors?.['maxlength']?.actualLength"
              >
                Max 16 Character allowed. Current is
                {{billEntryform.controls['billno'].errors?.['maxlength']?.actualLength}}
                characters.
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Bill Amount</span
                >
                <input
                  type="text"
                  (focusout)="onfocusOutBillamountevent($event)"
                  (focusout)="onFocusOutEvent($event)"
                  formControlName="billamt"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Intrest</span
                >
                <input
                  type="text"
                  formControlName="intrest"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >CGST %</span
                >
                <input
                  type="text"
                  (focusout)="
                    onfocusGstperevent(
                      $event,
                      'cgstper',
                      'cgst',
                      'sgstper',
                      'sgst'
                    )
                  "
                  formControlName="cgstper"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >CGST Amount</span
                >
                <input
                  type="text"
                  (focusout)="onfocusoutGstamt($event)"
                  formControlName="cgst"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >SGST %</span
                >
                <input
                  type="text"
                  (focusout)="
                    onfocusGstperevent(
                      $event,
                      'cgstper',
                      'cgst',
                      'sgstper',
                      'sgst'
                    )
                  "
                  formControlName="sgstper"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Sgst Amt</span
                >
                <input
                  type="text"
                  (focusout)="onfocusoutGstamt($event)"
                  formControlName="sgst"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Act. Payment</span
                >
                <input
                  type="text"
                  (focusout)="onFocusOutEvent($event)"
                  formControlName="payamt"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Unit Consume</span
                >
                <input
                  type="text"
                  formControlName="unitno"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Prv. AdvAmt</span
                >
                <input
                  type="text"
                  formControlName="prvadvamt"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Prv Act Payment</span
                >
                <input
                  type="text"
                  formControlName="prvactpay"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Cumm. Amt</span
                >
                <input
                  type="text"
                  formControlName="cumamt"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Adv. Remin</span
                >
                <input
                  type="text"
                  formControlName="advRemin"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="input-group">
                <span class="input-group-text leftform_lbl font500 font12"
                  >Remarks</span
                >
                <input
                  type="text"
                  formControlName="remarks"
                  maxlength="50"
                  class="form-control w-10 border-start-0 post_input_field font500 font20"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table_container table_wrapper" *ngIf="visibleformcontrol">
    <div class="d-flex w-100 justify-content-end deposit_charge_top mb-3">
      <div class="search_table_list me-3">
        <div class="input-group">
          <span
            class="input-group-text preinput_radius leftform_lbl font500 text-dark1 font12 pre_lbl_field global_search"
            >Search</span
          >
          <input
            type="text"
            class="form-control border-start-0 post_input_field lh-30 namefilter"
            id="globalSearchCalcText"
            (keyup)="tblSearch('globalSearchCalcText', 'enquiryStatusTable')"
          />
        </div>
      </div>
    </div>
    <table
      class="table table-striped"
      id="enquiryStatusTable"
      style="width: 100%"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
    >
      <thead>
        <tr tabindex="0">
          <th class="font500 font12 text-dark1">BILLPERIOD</th>
          <th class="font500 font12 text-dark1">FROMDATE</th>
          <th class="font500 font12 text-dark1">TODATE</th>
          <th class="font500 font12 text-dark1">UNITNO</th>
          <th class="font500 font12 text-dark1">BILLAMT</th>
          <th class="font500 font12 text-dark1">INTREST</th>
          <th class="font500 font12 text-dark1">ADVANCE</th>
          <th class="font500 font12 text-dark1">CUMULATIVEAMT</th>
          <th class="font500 font12 text-dark1">BILENTDATE</th>
          <th class="font500 font12 text-dark1">REMARKS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billdata of ConnBillData; let i = index">
          <td>{{ billdata.billperiod }}</td>
          <td>{{ billdata.fromdate }}</td>
          <td>{{ billdata.todate }}</td>
          <td>{{ billdata.unitno }}</td>
          <td>{{ billdata.billamt }}</td>
          <td>{{ billdata.intrest }}</td>
          <td>{{ billdata.advance }}</td>
          <td>{{ billdata.cumamt }}</td>
          <td>{{ billdata.bilentdate }}</td>
          <td>{{ billdata.remarks }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</section>
<app-loader *ngIf="loaderToggle"></app-loader>
<section class="action_section position-fixed w-100">
  <div class="container">
    <div class="action_conatiner text-center bg-white br-10">
      <div class="flex justify-content-between">
        <button
          type="submit"
          class="bg_common_red border-0 common_action_btn text-white br-10 ms-1"
          accesskey="a"
          (click)="addOverheadBillDetails()"
          [disabled]="disabledFlagAdd"
        >
          Add
        </button>

        <button
          type="submit"
          class="bg_common_red border-0 common_action_btn text-white br-10 ms-1"
          accesskey="r"
          (click)="retriveOverheadBillDetails()"
          [disabled]="disabledFlagRetrieve"
        >
          Retrieve
        </button>

        <button
          type="submit"
          class="bg_common_red border-0 common_action_btn text-white br-10 ms-1"
          accesskey="d"
          (click)="deleteOverheadBill()"
          [disabled]='disableFlagDelete'
        >
          Delete
        </button>
        <button
          type="submit"
          class="bg_common_red border-0 common_action_btn text-white br-10 ms-1"
          accesskey="s"
          (click)="saveOverheadBill()"
          [disabled]="disabledFlagSave"
        >
          Save
        </button>
        <button
          type="submit"
          class="bg_common_red border-0 common_action_btn text-white br-10 ms-1"
          accesskey="b"
          (click)="deposite()"
        >
          Deposit
        </button>
        <button
          type="submit"
          class="bg_common_red border-0 common_action_btn text-white br-10 ms-1"
          accesskey="b"
          (click)="back()"
          [disabled]="disabledFlagBack"
          *ngIf="visibleformcontrol"
        >
          Back
        </button>
        <button
          type="submit"
          class="common_action_btn br-10 border-0 ms-1 bg_common_red text-white first_letter_textdecorationone"
          accesskey="x"
          (click)="handleExitClick()"
        >
          E<span class="text-decoration-underline">x</span>it
        </button>
      </div>
    </div>
  </div>
</section>
