.outer_div {
  border: 2px solid grey;
  border-radius: 20px;
  padding: 35px;
}

.form-control:disabled {
  background-color: transparent;
}

.form15hg
    { display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid gray;
}

