.is-invalid,
.is-invalid > .input-group-text,
.is-invalid > .form-control,
.is-invalid > app-f1 {
  border-color: red;
}

.input-group .form-control.is-invalid{
  z-index: 0;
}

.common_action_btn{
    margin: 0 0.2rem;
    color: #fff;
    border: 0;
}