<div class="deposit_renewals pt-2 mt-1">
    <div class="row">
      <div class="col-sm-8 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <div class="deposits_panel br-10 form_common_bg p-3 pb-0 position-relative pt-4">
          <h5 class="fs-6 mb-0 position-absolute form_common_bg font600 deposits_title lh-24">Active Deposit Details</h5>
          <div class="deposit_renewals_container">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Duration</span>
                  <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="duration" value="12" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Proprietor</span>
                  <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="proprietor" value="UNIQ" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Interest Rate</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="orgReceipt" value="8" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Original Receipt</span>
                  <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="proprietor" value="33748" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Interest Frequency</span>
                  <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="Origin" value="6" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Origin</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="deptamt" value="Transfered" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Broker</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="broker" value="" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Pay To</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="payto" value="Either or survivor" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Deposit Amt</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="depositdate" value="200000" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">Maturity Date</span>
                    <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On"  value="03/07/2021" disabled>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">Deposit Date</span>
                    <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On"  value="04/07/2021" disabled>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">Maturity Amt</span>
                    <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On"  value="2220000" disabled>
                  </div>
                </div>

              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Liquidity Type</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="liquiditytype" disabled value="In Months">
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">Gross Interest</span>
                    <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="grossinterest" disabled value="22000">
                  </div>
                </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Discharged On</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Accrued Interest</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On" value="13194" disabled>
                </div>
              </div>
             
              <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Interest Paid (YYMM)</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On" value="6" disabled>
                </div>
              </div>
            
            </div>
            <div class="">
              <span class="d-flex font12 font600 mb-2 mt-1">
                Joint Owners
              </span>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">1.</span>
                    <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="" value="Mrs. Meghna Chandiramani" disabled>
                  </div>
                </div>
                
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">2.</span>
                    <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="" value="" disabled>
                  </div>
                </div>
             
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">3.</span>
                    <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="" value="" disabled>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <div class="deposits_panel br-10 form_common_bg mt-md-3 mt-lg-0 mt-xl-0 mt-xxl-0 p-3 pb-0 position-relative pt-4">
          <h5 class="fs-6 mb-0 position-absolute font600 deposits_title lh-24 form_common_bg">Transfer Information</h5>
          <div class="deposit_renewals_container">
            <div class="row">
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Company</span>
                  <input type="text" class="form-control  border-start-0 post_input_field font500 text-dark1 font12" id="UNIQ" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Proprietor</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="proprietor" value="UNIQ" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">New Depositor Id</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="deptamt">
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Receipt No</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On">
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                  <div class="mb-2 pb-1">
                      <div class="input-group">
                          <span class="input-group-text leftform_lbl bg-transparent border-0 font500 text-dark1 font12">Staff Y/N</span>
                          <div class="form-check d-flex align-items-center">
                              <input type="radio" class="form-check-input font12 font500 position-relative" id="radio1" name="optradio" value="option1" checked="">
                              <label class="form-check-label" for="radio1">Yes</label>
                          </div>
                          <div class="form-check d-flex align-items-center">
                              <input type="radio" class="form-check-input font12 font500  position-relative" id="radio2" name="optradio" value="option2">
                              <label class="form-check-label" for="radio2">No</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Transfer Date</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="duration" value="21/09/2022" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Pay To.</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="discahrged On">
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Duration</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="duration" value="12" disabled>
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Interest Rate</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="depositdate" disabled value="8">
                </div>
              </div>
              <div class="col-md-6 col-lg-12 col-xl-12">
                <div class="input-group mb-2 pb-1">
                  <span class="input-group-text leftform_lbl font500 text-dark1 font12">Interest Frequency</span>
                  <input type="text" class="form-control border-start-0 post_input_field font500 text-dark1 font12" id="maturitydate" disabled value="6">
                </div>
              </div>

            </div>
            <div class="">
              <span class="d-flex font12 font600 mb-2 mt-1 justify-content-between">
                <span class="col-md-11 col-lg-11 col-xl-11 col-xxl-11">Joint Owners</span>
                <span class="col-md-1 text-md-center text-lg-left text-xl-left text-xxl-left col-lg-1 col-xl-1 col-xxl-1">G</span>
              </span>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">1.</span>
                    <input type="text" class="form-control  border-end-0 post_input_field font500 text-dark1 font12" id="" value="Mrs. Meghna Chandiramani">
                    <span class="position-relative span_divider"></span>
                    <span class="input-group-text bg-white border-start-0 ">F</span>
                    <!-- <input type="text" class="form-control W_45 w-sm-25 border-start-0 post_input_field font500 text-dark1 font12" id=""> --> 
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">2.</span>
                    <input type="text" class="form-control  border-end-0 post_input_field font500 text-dark1 font12" id="" >
                    <span class="position-relative span_divider"></span>
                    <span class="input-group-text bg-white border-start-0 ">M</span>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                  <div class="input-group mb-2 pb-1">
                    <span class="input-group-text leftform_lbl font500 text-dark1 font12">3.</span>
                    <input type="text" class="form-control  border-end-0 post_input_field font500 text-dark1 font12" id="" >
                    <span class="position-relative span_divider"></span>
                    <span class="input-group-text bg-white border-start-0 ">M</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>