/* for date picker control   - start */
.matForm {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }
  
  .leftform_lbl {
    min-width: 7.1rem;
  }  
/* for date picker control   - End */


.custom-input-width{
  width: 3.6rem;
}