<section>
    <form [formGroup]="qf">
      <div class="row g-3">
        <div class="col-lg-12">
          <div class="row g-2">
            <div class="col-lg-3 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Rec Id</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Cert Type</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Run Ser#</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            
            <div class="col-lg-2 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Requisition</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row g-2">
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Company</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Building</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Proprietor</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Work</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Project</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >City</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Contractor</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >PAN</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Certified Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Prev Dates</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row g-2">
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Rec Id</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Prepared By</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Cert Date</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Net Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >From</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >To</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Contract Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Work Perc</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Trips</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Ass. Tax</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Expense Type</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Mode</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Tax Level</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Cert Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Retention</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Adv Adj</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Basic Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >CGST Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >SGST Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >IGST Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >UGST Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >TDS Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Cess</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Debit Amt</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Remarks</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Description</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Debiting Party</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="input-group has-validation">
                <span
                  class="input-group-text leftform_lbl font500 text-dark1 font12"
                  >Debiting Reason</span
                >
                <input
                  type="text"
                  class="form-control border-start-0"
                  formControlName="rec"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  
  <section class="action_section position-fixed w-100">
    <div class="container">
      <div class="action_conatiner bg-white br-10 d-flex justify-content-center">
        <button
          type="submit"
          class="bg_common_red common_action_btn br-10"
          [attr.accesskey]="loaderToggle ? '' : 'n'"
        >
          Narration
        </button>
        <button
          type="submit"
          class="bg_common_red common_action_btn br-10"
          [attr.accesskey]="loaderToggle ? '' : 'a'"
        >
          Add
        </button>
        <button
          type="submit"
          class="bg_common_red common_action_btn br-10"
          accesskey="p"
        >
          Bills
        </button>
        <button
          type="submit"
          class="bg_common_red common_action_btn br-10"
          [attr.accesskey]="loaderToggle ? '' : 's'"
        >
          Save
        </button>
        <button
          type="button"
          class="bg_common_red common_action_btn br-10 first_letter_textdecorationone"
          accesskey="t"
        >
          Rese<u>t</u>
        </button>
        <a
          class="bg_common_red common_action_btn border-0 text-white br-10 text-decoration-none"
          accesskey="c"
          routerLink="/shared/codehelp"
        >
          Code Help
        </a>
        <a
          class="bg_common_red border-0 common_action_btn text-white br-10 first_letter_textdecorationone text-decoration-none"
          accesskey="x"
          routerLink="/dashboard"
        >
          E<u>x</u>it
        </a>
      </div>
    </div>
  </section>
  <app-loader *ngIf="loaderToggle"></app-loader>
  