<!-- <p>other-debits-breakup-entry works!</p> -->
<section>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="otherDebitBreakupForm">
        <div class="row g-2">
          <div class="col-md-6">
            <div
              class="input-group"
              [class.is-invalid]="(otherDebitBreakupForm.get('project')?.hasError('required') &&  otherDebitBreakupForm.get('project')?.touched) ||  otherDebitBreakupForm.get('project')?.errors?.['notFound']"
            >
              <span
                class="input-group-text leftform_lbl font500 text-dark1 font12"
                ><b class="text-danger">*</b>Project</span
              >
              <input
                type="text"
                name=""
                id="otherDebit_project"
                class="form-control border-start-0 post_input_field font500 font12"
                upperCase
                formControlName="project"
                [f1]="{
                  id: 'MATCERTLNPROJECTCODE',
                  isSingleValue: true,
                  formData: otherDebitBreakupForm.get('projectName')
                }"
                (focusout)="onLeaveProject($event.target.value)"
              />
              <span class="position-relative span_divider"></span>
              <input
                type="text"
                name=""
                id=""
                class="form-control w-50 border-start-0 post_input_field font500 font12"
                formControlName="projectName"
              />
            </div>
            <div
              class="invalid-feedback d-block"
              *ngIf=" (otherDebitBreakupForm.get('project')?.touched &&  otherDebitBreakupForm.get('project')?.invalid) && !otherDebitBreakupForm.get('project')?.errors?.['notFound']"
            >
              Project Code is required.
            </div>
            <div
              class="invalid-feedback d-block"
              *ngIf=" otherDebitBreakupForm.get('project')?.errors?.['notFound']"
            >
              Project Code is not valid.
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="input-group"
              [class.is-invalid]="(otherDebitBreakupForm.get('racno')?.hasError('required') &&  otherDebitBreakupForm.get('racno')?.touched) ||  otherDebitBreakupForm.get('racno')?.errors?.['notFound']"
            >
              <span
                class="input-group-text leftform_lbl font500 text-dark1 font12"
                ><b class="text-danger">*</b>RAC No.</span
              >
              <input
                type="text"
                name=""
                id="otherDebit_racno"
                upperCase
                class="form-control border-start-0 post_input_field font500 font12"
                formControlName="racno"
                [f1]="{
                  id: 'MATCERTLOGICNOTE',
                  isSingleValue: true,
                  formData: otherDebitBreakupForm.get('racnoName'),
                  subId: filters.getracno ? filters.getracno : ''
                }"
              />
              <span class="position-relative span_divider"></span>
              <input
                type="text"
                name=""
                id=""
                class="form-control w-50 border-start-0 post_input_field font500 font12"
                formControlName="racnoName"
              />
            </div>
            <div
              class="invalid-feedback d-block"
              *ngIf=" (otherDebitBreakupForm.get('racno')?.touched &&  otherDebitBreakupForm.get('racno')?.invalid) && !otherDebitBreakupForm.get('racno')?.errors?.['notFound']"
            >
              Group Code is required.
            </div>
            <div
              class="invalid-feedback d-block"
              *ngIf=" otherDebitBreakupForm.get('racno')?.errors?.['notFound']"
            >
              Group Code is not valid.
            </div>
          </div>
        </div>

        <div class="row g-2 mt-2" *ngIf="initialMode">
          <div
            class="group_panel br-10 p-3 pt-4 position-relative form_common_bg"
          >
            <div class="col-md-12" formArrayName="addOtherDebitBreakupEntryList">
              <div
                class="table-responsive group_panel form_common_bg stylishScroll"
              >
                <table class="table table-bordered table-sm mb-0">
                  <thead>
                    <tr>
                      <th class="fontBold font12 fonttxt_black">PARTY TYPE</th>
                      <th class="fontBold font12 fonttxt_black">PARTY CODE</th>
                      <th class="fontBold font12 fonttxt_black">PARTY NAME</th>
                      <th class="fontBold font12 fonttxt_black">
                        OTH. DEBIT REASON
                      </th>
                      <th class="fontBold font12 fonttxt_black">
                        OTH. DEBIT AMT
                      </th>
                      <th class="fontBold font12 fonttxt_black">C.V.AdjYN</th>
                      <th class="fontBold font12 fonttxt_black">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of otherDebitBreakupForm?.controls['addOtherDebitBreakupEntryList'].controls, let index=index" [formGroupName]="index">
                      <td>
                        <div class="input-group">
                          <input
                            type="text"
                            name=""
                            id="otherDebit_partyType"
                            class="form-control input_control font500 fonttxt_black font12"
                            formControlName="partyType"
                            [f1]="{id: '', isSingleValue: true}"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="input-group">
                          <input
                            type="text"
                            name=""
                            id=""
                            class="form-control input_control font500 fonttxt_black font12"
                            formControlName="partyCode"
                            [f1]="{id: 'PARTY', isSingleValue: true}"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="input-group">
                          <input
                            type="text"
                            name=""
                            id=""
                            class="form-control input_control font500 fonttxt_black font12"
                            formControlName="partyName"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="input-group">
                          <input
                            type="text"
                            name=""
                            id=""
                            class="form-control input_control font500 fonttxt_black font12"
                            formControlName="othDebitReason"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="input-group">
                          <input
                            type="text"
                            name=""
                            id=""
                            class="form-control input_control font500 fonttxt_black font12"
                            formControlName="othDebitAmt"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex align-items-center">
                          <input
                            type="checkbox"
                            class="form-check-input font12 font500 position-relative cursor-pointer customeSize"
                            formControlName="cvAdj"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="action_panel d-flex justify-content-center">
                          <button
                            type="button"
                            class="btn action_btn d-flex bg_common_red mt-1"
                            (click)="addOtherDebit()"
                          >
                            <img
                              src="/assets/images/add.svg"
                              alt="add"
                              class="add_img"
                            />
                          </button>
                          <button
                            type="button"
                            class="btn action_btn d-flex bg_common_red ms-1 mt-1"
                            (click)="deleteOtherDebit(index)"
                          >
                            <img
                              src="/assets/images/trash.svg"
                              alt="remove"
                              class="delete_img"
                            />
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Bottom button start -->
<app-buttons
  [buttonsList]="buttonsList"
  (eventTrigger)="buttonAction($event)"
></app-buttons>
<!-- Bottom button end -->
